<h1>Message Operations </h1>
<h2><a href="msg">Message App</a></h2>

<h1>Auth Based Operations </h1>
<h2><a href="adduser1">Add User</a></h2>
<h2><a href="adduser2">Add User 2</a></h2>
<h2><a href="addimage">Add image</a></h2>





<h1>ORM Based Operations </h1>
<h2><a href="addemp">Add Emp</a></h2>
<h2><a href="addemp2">Add Emp2</a></h2>
<h2><a href="addemp3">Add Emp3</a></h2>
<h2><a href="addacc">Add Account</a></h2>
<h2><a href="elist">Employee details</a></h2>
<hr>
<h1>one to one relationship</h1>
<h2><a href="addsinger">Add Singer</a></h2>
<h2><a href="addsong">Add Song</a></h2>

